.Header {
  background: #663399;
  margin-bottom: 1.45rem;
}

.Header-container {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0.45rem 1.0875rem 1.45rem 1.0875rem;
}

.Header-title {
  margin: 0;
  display: inline-block;
}

.Header-titleText {
  text-decoration: none;
  color: white;
}

.Header-titleText:hover{
  color: black;
}

.Header-tableOfContents {
  margin: 0 auto;
  display: inline-block;
  float: right;
}

.Header-links {
  display: inline-block;
  margin: 10px;
  color: white;
}

.Header-links:hover {
  color: black;
}
